<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
  	<title>MKCad</title>

    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/mkcad.css" />

  </head>

  <script src="js/jquery.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="jquery-plugin-query-parser-master/jquery-queryParser.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/spin.js"></script>
  <script src="js/underscore-min.js"></script>
  <script src="js/index.js"></script>

  <body>
    <div id="menu">
      <button id="clear-search">X</button> 
      <input class="searchbar" type="text" id="insert-search" placeholder="Search..." />
      <button id="toggle-view" style="display:none;">Admin</button>
    </div>
    
    <div id="admin-menu" style="display:none;">
      <button id="save">Save Document</button>
      <span id="status"></span>
    </div>
    <div class="container" id="insert-list-container">
      <ul id="insert-list" class="insert-list">

      </ul>
    </div>
    <div class="container" id="doc-list-container" style="display:none;">
      <ul id="doc-list">

      </ul>
    </div>
    <div class="container" id="admin-list-container" style="display:none;">
      <button id="select-all">Select All</button><button id="unselect-all">Unselect All</button>
      <table>
        <tbody id="admin-list">

        </tbody>
      </table>
    </div>
  </body>
</html>
