li {
    list-style-type: none;
    height: 3em;
    text-align: left;
    display:inline-block;
    width:100%;
}
ul {
    display: inline-block;
    padding-left: 1em;
}

.insert-item:hover {
    background-color: blue;
    color: white;
    cursor: pointer;
}
.view-doc:hover {
    background-color: blue;
    color: white;
    cursor: pointer;
}

body {
    height:100%;
    overflow:hidden;
}

.container {
    overflow-y: auto;
}

#insert-list-container {
    height: 95vh;
}

#doc-list-container {
    height: 30vh;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

#admin-list-container {
    height: 63vh;
}

td {
    padding: 0.5px;
}
.thumb {
    width: 3em;
    height: 3em;
}

.folder-title {
    display: block;
    width: 100%;
    margin-top: 1em;
    cursor: pointer;
}

#menu {
    display: flex;
}

.searchbar {
    width: 90%;
    padding: 0.4em;
    flex-grow: 1;
}