li {
    list-style-type: none;
    height: 3em;
    text-align: center;
}

li:hover {
    background-color: blue;
    color: white;
    cursor: pointer;
}

.doc-list {
    height: 95vh;
    overflow-y: scroll;
}