li {
    list-style-type: none;
    height: 3em;
    text-align: center;
}

li:hover {
    background-color: blue;
    color: white;
    cursor: pointer;
}

body {
    height:100%;
    overflow:hidden;
}

.container {
    overflow-y: auto;
}

#insert-list-container {
    height: 95vh;
}

#doc-list-container {
    height: 30vh;
}

#admin-list-container {
    height: 63vh;
}

td {
    padding: 0.5px;
}